# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Code/Previous Version/CookingKingCooKing/.idea/codeStyles/desktop.ini
Code/Previous Version/CookingKingCooKing/.idea/modules/app/desktop.ini
Code/Previous Version/CookingKingCooKing/.idea/modules/desktop.ini
Code/Previous Version/CookingKingCooKing/app/libs/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/techtown/cookingkingcooking/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/techtown/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/techtown/cookingkingcooking/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/techtown/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/drawable-v24/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/drawable/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-anydpi-v26/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/layout/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-hdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-mdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-xxhdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/.idea/codeStyles/desktop.ini
Code/Previous Version/CookingKingCooKing/.idea/modules/app/desktop.ini
Code/Previous Version/CookingKingCooKing/.idea/modules/desktop.ini
Code/Previous Version/CookingKingCooKing/app/libs/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/techtown/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/com/techtown/cookingkingcooking/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/androidTest/java/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/techtown/cookingkingcooking/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/com/techtown/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/java/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/drawable-v24/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/drawable/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/layout/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-anydpi-v26/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-hdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-mdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-xhdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-xxxhdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/mipmap-xxhdpi/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/main/res/values/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/test/java/com/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/test/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/test/java/com/techtown/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/test/java/com/techtown/cookingkingcooking/desktop.ini
Code/Previous Version/CookingKingCooKing/app/src/test/java/desktop.ini
Code/Previous Version/CookingKingCooKing/gradle/wrapper/desktop.ini
Code/Previous Version/desktop.ini
Code/CookingKingCooKing_Ver2/gradle/desktop.ini
Code/CookingKingCooKing_Ver2/app/libs/desktop.ini
Code/CookingKingCooKing_Ver2/gradle/wrapper/desktop.ini
Code/CookingKingCooKing_Ver2/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/test/java/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/test/java/com/techtown/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/test/java/com/techtown/cookingkingcooking_ver2/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/test/java/com/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/test/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-xxxhdpi/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/values/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-xxhdpi/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-xhdpi/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-hdpi/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-mdpi/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/mipmap-anydpi-v26/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/layout/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/drawable/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/drawable-v24/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/res/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/java/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/java/com/techtown/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/java/com/techtown/cookingkingcooking_ver2/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/main/java/com/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/androidTest/java/com/techtown/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/androidTest/java/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/androidTest/java/com/techtown/cookingkingcooking_ver2/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/androidTest/java/com/desktop.ini
Code/CookingKingCooKing_Ver2/app/src/androidTest/desktop.ini
Code/CookingKingCooKing_Ver2/app/desktop.ini
Code/CookingKingCooKing_Ver2/.idea/modules/desktop.ini
Code/CookingKingCooKing_Ver2/.idea/modules/app/desktop.ini
Code/CookingKingCooKing_Ver2/.idea/desktop.ini
Code/CookingKingCooKing_Ver2/.idea/codeStyles/desktop.ini
